.site-header-container, .post-header-container { width: 100%; text-align: center; }

.site-header-container.has-cover, .post-header-container.has-cover { color: #fff; text-shadow: 0 2px 1px rgba(0, 0, 0, 0.67) !important; background-position: 50% 50%; background-size: cover; }

.site-header-container.has-cover .title, .post-header-container.has-cover .title { font-size: 2.985984em; }

.site-header-container.has-cover .subtitle, .site-header-container.has-cover .info, .post-header-container.has-cover .subtitle, .post-header-container.has-cover .info { font-size: 1.2em; }

.site-header-container .scrim, .post-header-container .scrim { padding: 3em 1em; }

.site-header-container .scrim.has-cover, .post-header-container .scrim.has-cover { background-color: rgba(0, 0, 0, 0.2); padding: 6em 1em !important; }

div .page {
	margin-bottom: 50px;
}

.page-content .site-header-container {
		/*color: $white;*/
		/*text-shadow: 0 0px 0px rgba(0,0,0,0.33);*/
		background-color: #2581bc;
		min-height: 800px;
}
.site-header-container.has-cover, .post-header-container.has-cover { color: #fff; text-shadow: 0 1px 0px rgba(0, 0, 0, 0.67) !important; background-position: 50% 50%; background-size: cover; }

.page-content .site-header-container .site-header {
}
.site-header {
	margin-top: 150px;
	height: 500px;
}

.page-content .site-header-container .site-header .subtitle{
	font-style: normal;
}

.navbar {
	margin-bottom: 0;
}
.navbar-brand{
	font-weight: bold;
}
