{:site-title           "IyaSchool"
 :author               "Masi Labs"
 :description          "Support Site for IysaSchool Platform"
 :site-url             "http://iyaschool.info/"
 :post-root            "posts"
 :page-root            "pages"
 :post-root-uri        "post"
 :page-root-uri        "page"
 :tag-root-uri         "tags-output"
 :author-root-uri      "authors-output"
 :public-dest          "public"
 :blog-prefix          "/iyaschool"
 :rss-name             "feed.xml"
 :rss-filters          ["cryogen"]
 :recent-posts         3
 :post-date-format     "yyyy-MM-dd"
 :archive-group-format "yyyy MMMM"
 :sass-src             []
 :sass-path            "sass"
 :compass-path         "compass"
 :theme                "blue"
 :resources            ["img" "screenshots" "slides"]
 :keep-files           [".git"]
 :disqus?              false
 :disqus-shortname     ""
 :ignored-files        [#"\.#.*" #".*\.swp$"]
 :previews?            false
 :posts-per-page       5
 :blocks-per-preview   2
 :clean-urls           :trailing-slash
 :collapse-subdirs?    false
 :hide-future-posts?   true
 :klipse               {}
 :debug?               false
:subtitle														"An Online Management Platform for Schools"}