{% extends "/html/base.html" %}
{% block container %}
    {% block content %}
    <!-- <div id="post">
        {% include "/html/post-content.html" %}
        {% if disqus? %}
        <div id="comments">
            <a href="{{post.uri}}#disqus_thread">View Comments</a>
        </div>
        {% endif %}

        <div id="prev-next">
            {% if post.prev %}
            <a href="{{post.prev.uri}}">&laquo; {{post.prev.title}}</a>
            {% endif %}
            {% if post.next %}
            <a class="right" href="{{post.next.uri}}">{{post.next.title}} &raquo;</a>
            {% endif %}
        </div>
    </div> -->
        <div class="homex">
            <div class="site-header-container has-cover" style="background-image: url({{blog-prefix}}/img/abstract-art-background-blue-370799.jpg);">
              <div class="scrim has-cover">
                <header class="site-header">
                    <h3>User Support For</h3>
                  <h1 class="title">{{ title }}</h1>
                  {% if subtitle %}<p class="subtitle">{{ subtitle }}</p>{% endif %}
                </header>
              </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}